<mat-sidenav-container class="sidenav-container" *ngIf="isAuthenticated">
  <mat-sidenav 
    #drawer 
    class="sidenav" 
    fixedInViewport
    [attr.role]="'navigation'"
    mode="side"
    opened="true">
    
    <div class="user-info">
      <div class="user-avatar">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="user-details">
        <h3 class="user-name">{{ getUserDisplayName() }}</h3>
        <p class="user-role">{{ getUserRole() }}</p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-nav-list class="navigation-list">
      <a 
        mat-list-item 
        *ngFor="let item of navigationItems" 
        [routerLink]="item.link"
        routerLinkActive="active-link"
        class="nav-item">
        <mat-icon matListItemIcon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.name }}</span>
      </a>
    </mat-nav-list>

    <div class="spacer"></div>

    <div class="logout-section">
      <mat-divider></mat-divider>
      <button 
        mat-list-item 
        class="logout-button"
        (click)="onLogout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Logout</span>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar class="toolbar" color="primary">
      <button
        type="button"
        mat-icon-button
        (click)="drawer.toggle()"
        class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">TV Ad Management</span>
    </mat-toolbar>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!isAuthenticated" class="auth-container">
  <router-outlet></router-outlet>
</div>